.DS_Store
__pycache__
*.egg-info
.venv
MUJOCO_LOG.TXT
mujoco_menagerie
checkpoints/
mujoco_playground/experimental/learning/wandb/
logs
wandb/
*.mp4
mujoco_playground/experimental/learning/check_points/
