.DS_Store
__pycache__
*.egg-info
checkpoints/
dog_assets/
videos/
.vscode
*.msh
*.pt
*.pkl
*.mp4
*.gif
*.zip
learning/*.png
# Other.
dog.py
curriculum.ipynb
**runs**/
learning/wandb
MUJOCO_LOG.TXT
learning/*.png
*.tar.gz
**/logs/**
**/wandb/**
**/runs/**
*.onnx
!mujoco_playground/experimental/sim2sim/onnx/*.onnx
**/.ipynb_checkpoints/
